example/
.git/
.github/
node_modules/
src/
tsconfig.json
tsconfig.build.json
*.test.ts
*.test.tsx
.eslintrc
.prettierrc
android/build/
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
android/libs/sdk-release-1.18.aar
ios/build/
ios/Pods/
.turbo/
.vscode/
.idea/
*.xcworkspace/
build/
dist/
coverage/
.env
.env.local
*.swp
*.swo
*~
.DS_Store
nitrogen/
nitro.json
